custapi/src/main/app/customersearchapiusingresourcetypestraits.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="customersearchapiusingresourcetypestraits-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="customersearchapiusingresourcetypestraits-config" raml="customersearchapiusingresourcetypestraits.raml" consoleEnabled="false" doc:name="Router"/>
    <flow name="customersearchapiusingresourcetypestraits-main">
        <http:listener config-ref="customersearchapiusingresourcetypestraits-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="customersearchapiusingresourcetypestraits-config" doc:name="APIkit Router"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <exception-strategy ref="customersearchapiusingresourcetypestraits-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="customersearchapiusingresourcetypestraits-console">
        <http:listener config-ref="customersearchapiusingresourcetypestraits-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="customersearchapiusingresourcetypestraits-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="get:/customers:customersearchapiusingresourcetypestraits-config">
        <choice doc:name="Choice">
            <when expression="#[message.inboundProperties.'http.query.params'.postcode==empty]">
                <flow-ref name="getCustomersFlow" doc:name="getCustomersFlow"/>
            </when>
            <otherwise>
                <flow-ref name="getcustomersbypostcodeimpl" doc:name="getcustomersbypostcodeimpl"/>
            </otherwise>
        </choice>

    </flow>
    <flow name="get:/customers/{id}:customersearchapiusingresourcetypestraits-config">
        <flow-ref name="customerbyid" doc:name="customerbyid"/>

    </flow>
    <apikit:mapping-exception-strategy name="customersearchapiusingresourcetypestraits-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
